package main

import (
    "github.com/ramoncl001/go-comet/comet"
    "{{.Module}}/modules/foo/controllers"
    "{{.Module}}/modules/foo/services"
)

func main() {
    app := comet.NewServer()

    app.UseMiddleware(comet.RequestLogging)

    comet.RegisterTransient[services.FooService](services.NewFooService)

    app.MapController(controllers.NewFooController)

    app.Run(":8080")
}