package {{.Package}}

import (
    "github.com/ramoncl001/comet
)

var {{.Name}}Middleware = func (next comet.RequestHandler) comet.RequestHandler {
    return func(req *comet.Request) comet.Response {
        //Content
        return next(req)
    }
}